{
  "extends": [
    "@antfu"
  ],
  "overrides": [
    {
      "files": [
        "packages/shared/**/*.ts",
        "playground/**/*"
      ],
      "rules": {
        "vue/component-name-in-template-casing": "off",
        "no-restricted-globals": "off",
        "unicorn/prefer-number-properties": "off",
        "@typescript-eslint/ban-types": "off"
      }
    },
    {
      "files": [
        "docs/**/*"
      ],
      "rules": {
        "antfu/no-import-node-modules-by-path": "off"
      }
    }
  ]
}
